[bebop-list--el="container"] {
	background-color: #fff;
	border: 1px solid #ccc;

	& [bebop-list--el="container"] {
		background-color: #f9f9f9;
		margin: 0;
		border: 6px solid #eee;

		[bebop-list--el="list"] {
			
			li {
				background-color: #f9f9f9;
			}
		}
	}
}

[bebop-list--el="title"] {
	padding: 10px 10px 0 10px;
	font-size:18px;
	color: #333;
}

[bebop-list--el="content"] > .bebop-ui-mod {
	margin:0;
}

.metabox-holder {
	
	[bebop-list--el="container"] {
		margin: -6px -12px -12px -12px;
		border: none;

		[bebop-list--el="container"] {
			margin: 0;
			border: 6px solid #eee;
		}
	}

	[bebop-list--el="title"] {
		display: none;
	}
}

.bebop-ui-mod {
	[bebop-list--el="title"] {
		display: none;
	}
}

[bebop-list--el="list"] {
	border-top: 1px solid #d0d0d0;
	margin: 0;
	padding: 0;

	li {
		background-color: #fff;
		padding: 10px 140px 10px 10px;
		margin-bottom: 0;
		border-bottom: 1px solid #d0d0d0;
		position: relative;
		min-height: 20px;

		&.ui-sortable-helper {
			opacity: 0.75;
			border-top: 1px solid #d0d0d0;
			-webkit-box-shadow: 0 0 5px 0 #999;
			box-shadow: 0 0 5px 0 #999;
		}

		&.bebop-list--item-placeholder {
			background-color: #bbb;
			position: relative;
			min-height: 40px;
			padding:0;

			&:before {
				color: #777;
				display: block;
				font-size: 26px;
				display: block;
				position: absolute;
				top:50%;
				left:50%;
				margin-top: -13px;
				margin-top: -13px;
				height:26%;
				width:26%;
			}
		}

		input[type="text"] {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			min-width: 100%;
			min-height: 150px;
			margin:0;
		}

		button {

			b + span[class^="bebop-ui-media-icon"] {

				margin-left: 6px;
			}
		}

		.bebop-list--drag-handle {
			display: none;
			cursor: move;
			background-color: #e0e0e0;
			border-right: 1px solid #ddd;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 40px;

			span {
				color: #999;
				position: absolute;
				top: 50%;
				margin-top: -12px;
				left: 50%;
				margin-left: -12px;
				height: 24px;
				width: 24px;
				font-size: 24px;

			}

			&:hover {

				background-color: #efefef;

				& span {
					color: #444;
				}
			}
		}

		.bebop-list--item-image {
			background: #d0d0d0;
			border: 1px solid #ccc; 
			padding: 3px;
			height: 150px;
			width:150px;
			max-width: 100%;
			float:left; 
			margin-right: 10px;

			img {
				display: block;
			}
		}

		.bebop-list--item-content {
			
		}

		[bebop-list--el="item-actions"] {
			position: absolute;
			top: 8px;
			right: 8px;

			button {
				margin-left: 6px; 
			}
		}

		[bebop-list--subview="reorder"],
		[bebop-list--subview="edit"] {
			display: none;
		}

		&.view--reorder {
			padding-left: 50px;

			.bebop-list--item-image {
				height: 40px;
				width: 40px;
				padding: 0;
			}

			.bebop-list--drag-handle {
				display: block;
			}
		}
	}
}

[bebop-list--el="form"] {
	padding: 10px;
	
	.bebop-ui-mod {
		margin-bottom: 0;
		display: inline;
	}

	input[type="text"] {
		width: auto !important;
	}

	.button {
		padding-left: 8px;
		padding-right: 8px; 
	}

	[bebop-list--formAction="toggleReorder"].is-enabled,
	[bebop-list--formAction="toggleEditAll"].is-enabled {
		background-color: #bbb;
		border-color: #888;
		color: #fff;
		-webkit-box-shadow:inset 3px 3px 3px 0 #999;
		box-shadow:inset 3px 3px 3px 0 #999;

		[class^="bebop-ui-icon"] {
			border-color: #fff;
		}
	}

	[class="bebop-ui-icon-add"] {
		border-left: 1px solid #208db2;
		margin-left: 4px;
		padding-left: 6px;
		font-size: 10px;
	}

	[class="bebop-ui-icon-move"] {
		border-right: 1px solid #ccc;
		padding-right: 4px;
		margin-right: 4px;
		font-size: 12px;
	}
}

.bebop-list--formField {
	float:left;
	margin-right: 10px;

	.bebop-ui-mod-searchableselect {
		display: inline-block;
		margin-right: 9px;
	}
}

[bebop-list--el="empty-state-indicator"] {
	padding: 10px;
	border-bottom: 1px solid #d0d0d0;
}

[bebop-list--mode="gallery"] {

	.bebop-list--media-title {
		font-size: 16px;
		font-weight: 600;
		color: #444;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	[bebop-media--el="container"] {
		float: left;
		margin: 0;
		overflow: hidden;
		margin: 0 !important;
		width: 120px;

		[bebop-media--el="previewer"] {
			
			.bebop-media--previewer-info {
				display: none;
			}

			.bebop-media--previewer-image {
				padding: 8px;
			}

			.bebop-media--previewer-icon {
				font-size:30px;
			}

			.bebop-media--previewer-file-title {
				font-size:11px;
			}
		}
	}
	
	[bebop-list--view] {
		margin-left: 130px;
	}

	.bebop-list--item.view--reorder {

		[bebop-media--el="container"] {	
			height: 40px;
			width: 40px;
			margin: -10px !important;

			[bebop-media--el="previewer"] {
				height: 40px;
				width: 40px;
			
				.bebop-media--previewer-inner {
					padding: 0;
				}

				.bebop-media--previewer-image {
					padding: 0;
				}

				.bebop-media--previewer-icon {
					font-size:16px;
					padding:0 0 0 0;
					line-height: 40px;
				}
				
				.bebop-media--previewer-status-code,
				.bebop-media--previewer-file-title {
					display: none;
				}
			}

			[bebop-media--el="actions"] {		
				display: none;
			}
		}

		[bebop-list--view] {
			margin-left: 40px;
		}
	}
}

[bebop-list--view="browse"],
[bebop-list--view="reorder"] {

	.select2-selection {
		outline-width: 0 !important;
		background:none !important;
		border: none !important;
	}

	.select2-selection__arrow {
		display:none !important;
	}
}