<div bebop-ui--gallery-item-type="audio" bebop-ui--gallery-item-view="edit">
	
	<input type="hidden" name="source" value="soundcloud">

	<div class="bebop-ui--gallery-media-type-label">
		{{type}}
	</div>
	<input type="hidden" name="type" value="{{type}}">
	<br>	

	<h3>Soundcloud</h3>

	<label for="">Track ID</label><br>
	<input name="id" type="text" class="small-text" value="{{id}}"><br>
	<span class="description">Set a Track ID from Soundcloud.</span>
	<br><br>

	<label for="">Playlist ID</label><br>
	<input name="playlist" type="text" class="small-text" value="{{playlist}}"><br>
	<span class="description">If you set a Soundcloud Playlist ID it will be used instead of Track ID.</span>
	<br><br>

	<label for="">Title</label><br>
	<input type="text" name="title" value="{{title}}">
	<br><br>

	<label for="">Caption</label><br>
	<textarea name="caption">{{caption}}</textarea>
	
</div>