<div bebop-ui--gallery-item-type="video" bebop-ui--gallery-item-view="edit">
	
	<div class="bebop-ui--gallery-media-type-label">
		{{type}}
	</div>
	<input type="hidden" name="type" value="{{type}}">
	<br>

	<label for="">Source</label>
	<select name="source">
	<option value="youtube">Youtube</option>
	<option value="vimeo"{{#source_is_vimeo}} selected="selected"{{/source_is_vimeo}}>Vimeo</option>
	</select>
	<br><br>

	<label for="">Video ID</label>
	<input name="id" type="text" class="small-text" value="{{id}}">
	<br><br>

	<label for="">Title</label><br>
	<input type="text" name="title" value="{{title}}">
	<br><br>

	<label for="">Caption</label><br>
	<textarea name="caption">{{caption}}</textarea>

</div>